.info-section {
  text-align: center;
}

img {
  width: 100%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.title {
  padding-top: 1em;
  font-size: 1.5625rem;
  margin: 0;
}

.subtitle {
  font-size: 0.8rem;
  color: #f3bf99;
  margin: 0;
}

small {
  font-size: 0.64rem;
}

h2 {
  font-size: 1rem;
  margin: 0;
}

p {
  font-size: 0.64rem;
  margin: 0;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em 0;
}

.btn {
  font-size: 0.875em;
  width: 115px;
  padding: 0.5625em 0;
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.icon {
  width: 16px;
  padding-right: 0.5em;
}

.btn-email {
  color: #374151;
  background: white;
}

.btn-linkedin {
  color: white;
  background: #5093e2;
}

.content {
  padding: 1em 2.18em 0.5em 2.18em;
  margin: 0;
}

.social-btn {
  color: #161619;
}

.icon-btn {
  padding-top: 2px;
  text-align: center;
  background: #918e9b;
  width: 30px;
  height: 25px;
  border-radius: 2px;
}
